.caption__bar {
  background-color: #eeeeee;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 24px;
  width: 100%; }
  .caption__bar .nav__caption {
    min-width: 200px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 50px; }
  .caption__bar .photo__nav {
    min-width: 80px;
    margin-left: 15px; }
  .caption__bar .plus__nav {
    width: 24px; }

li {
  list-style: none; }

* {
  box-sizing: border-box; }
